<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>view-saloon</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">

          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">No Labels / Placeholders as labels Form</h5>

                    <!-- No Labels Form -->
                    <form class="row g-3" action="/get-All-order">
                      <div class="col-md-4">
                        <select id="inputState" name="city" class="form-select">
                          <option selected="" value="">Choose Status</option>
                          <% city.forEach(function(citys) { %>
                            <option selected="" value=" <%= citys %>">
                              <%= citys %>
                            </option>
                            <% }); %>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <select id="inputState" name="status" class="form-select">
                          <option selected="" value="">Choose Status</option>
                          <option selected="" value="pending">pending</option>
                          <option selected="" value="cancel">cancel</option>
                          <option selected="" value="succes">succes</option>
                        </select>
                      </div>
                      <div class="col-md-2">
                        <input type="number" name="totalamount" class="form-control" placeholder="Amount">
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/get-All-order"> <button type="button" class="btn btn-secondary">Reset</button></a>
                      </div>
                    </form>
                    <!-- End No Labels Form -->

                  </div>
                  <hr>
                  <hr>
                  <div class="card-body">
                    <h5 class="card-title">Order List</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Store Name</th>
                          <th scope="col">user Name</th>
                          <th scope="col">Cart Data</th>
                          <th scope="col">Schedule</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Payment Status</th>
                          <th scope="col">Status</th>

                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let i=0 %>
                          <% for( data of data) { %>
                            <tr>
                              <th scope="row">
                                <%= ++i %>
                              </th>
                              <td>
                                <p data-bs-toggle="modal" data-bs-target="#exampleModal">
                                  <%= data.saloon.storeName %>
                                </p>

                              </td>
                              <td>
                                <%= data.users.name %>
                              </td>
                              <td>
                                <%= data.ServicePrice %>
                              </td>
                              <td>
                                <% if(typeof data.Schedule !=="undefined" && data.Schedule){%>
                                  date :<%= data.Schedule.date %>
                                    timeslot :<%= data.Schedule.timeslot %>
                                      <%}else{%>
                                        date :<br>
                                        timeslot :
                                        <%}%>
                              </td>
                              <td>
                                <%= data.totalamount %>
                              </td>
                              <td>
                                <%= data.paymentStatus %>
                              </td>
                              <td>
                                <%= data.status %>
                              </td>
                              <td>
                                <% if( data.status=="succes" ){%>
                                  <a href="/add_service?id=<%= data._id%>" class="btn btn-dark">succes</a>

                                  <%}else if( data.status=="cancel" ){%>
                                    <a href="#" class="btn btn-danger">Cancel</a>
                                    <%}else{%>
                                      <a href="/Admin-Order-Approve?id=<%= data._id%>" class="btn btn-dark">Approve</a>
                                      <a href="/Admin-Order-Cancel?id=<%= data._id%>" class="btn btn-danger">Decline</a>
                                      <%}%>
                              </td>
                            </tr>
                            <%}%>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">&times;</button>
                <h4 class="modal-title">Saloon Store Detail</h4>
              </div>
              <div class="modal-body">
                <table border="2">
                  <tr>
                    <th>storeName</th>
                    <th>Email</th>
                    <th>PhoneNumber</th>
                    <th>type</th>
                    <th>description</th>
                  </tr>
                  <tr>
                    <td>
                      storeName
                    </td>
                    <td>
                      Email
                    </td>
                    <td>
                      PhoneNumber
                    </td>
                    <td>
                      type
                    </td>
                    <td>
                      description
                    </td>
                  </tr>

                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        </div>

      </main>

      <%- include("../../partials/script.ejs") %>
</body>

</html>