<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>view-saloon</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">

          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Filter</h5>

                    <!-- No Labels Form -->
                    <form class="row g-3" action="/get-All-order">
                      <div class="col-md-4">
                        <select id="inputState" name="city" class="form-select">
                          <option selected="" value="">Choose Status</option>
                          <% city.forEach(function(citys) { %>
                            <option selected="" value=" <%= citys %>">
                              <%= citys %>
                            </option>
                            <% }); %>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <select id="inputState" name="status" class="form-select">
                          <option selected="" value="">Choose Status</option>
                          <option selected="" value="pending">pending</option>
                          <option selected="" value="cancel">cancel</option>
                          <option selected="" value="succes">succes</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                        <input type="number" name="totalamount" class="form-control" placeholder="Amount">
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="/get-All-order"> <button type="button" class="btn btn-secondary">Reset</button></a>
                      </div>
                    </form>
                    <!-- End No Labels Form -->

                  </div>
                  <hr id="main" class="main" style="color:#c3d4e5; width: 100%;">
                  <div class="card-body">
                    <h5 class="card-title">Order List</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Store Name</th>
                          <th scope="col">user Name</th>
                          <th scope="col">Cart Data</th>
                          <th scope="col">Date And Time</th>
                          <th scope="col">Total Amount</th>
                          <th scope="col">Payment Status</th>
                          <th scope="col">Status</th>

                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let i=0 %>
                          <% for( data of data) { %>
                            <tr>
                              <th scope="row">
                                <%= ++i %>
                              </th>
                              <td>
                                <%= data.saloon.storeName %>
                              </td>
                              <td>
                                <%= data.users.name %>
                              </td>
                              <td>
                                <button type="button" value="<%=data._id%>" onclick="cartData(this)"
                                  class="btn btn-info"><i class="bi bi-eye"></i></button>

                              </td>
                              <td>
                                <% if(typeof data.Schedule !=="undefined" && data.Schedule){%>
                                  <%= data.Schedule.date %>
                                    <%= data.Schedule.timeslot %>
                                      <%}else{%>
                                        date :<br>
                                        timeslot :
                                        <%}%>
                              </td>
                              <td>
                                <%= data.totalamount %>
                              </td>
                              <td>
                                <%= data.paymentStatus %>
                              </td>
                              <td>
                                <%= data.status %>
                              </td>
                              <td>
                                <% if( data.status=="succes" ){%>
                                  <a href="/add_service?id=<%= data._id%>" class="btn btn-dark">succes</a>

                                  <%}else if( data.status=="cancel" ){%>
                                    <a href="#" class="btn btn-danger">Cancel</a>
                                    <%}else{%>
                                      <a href="/Admin-Order-Approve?id=<%= data._id%>" class="btn btn-dark">Approve</a>
                                      <a href="/Admin-Order-Cancel?id=<%= data._id%>" class="btn btn-danger">Decline</a>
                                      <%}%>
                              </td>
                            </tr>

                            <%}%>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>


      </main>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User Service Data</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="moduleDataAppend">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>


      <script>
        function cartData(data) {
          let num = data.value
          console.log("se", num)

          $.ajax({
            type: 'get',
            data: { "id": num },
            url: '/Find-date-for-admin-module',
            success: function (data) {
              if (data.length > 0) {
                $('#moduleDataAppend').empty()

                console.log(data)
                let abc = ` <table class="table datatable">
                          <thead>
                            <tr>
                              <th scope="col">serviceId</th>
                              <th scope="col">quantity</th>
                              <th scope="col">Amount</th>
                              <th scope="col">timePeriod </th>
                            </tr>
                          </thead>
                          <tbody>`
                data.forEach((item) => {
                  abc += `<tr>
                            <td scope="row">${item.service.ServiceName}</td>
                            <td>${item.cartdata.quantity}</td>
                            <td>${item.cartdata.Amount}</td>
                            <td>${item.cartdata.timePeriod_in_minits}</td>
                          </tr>`
                })
                abc += `</tbody> </table >`
                console.log("abc", abc)
                // abc += `</select></div>`
                // let num2 = num + 1
                // while (true) {
                //   let cat = $(`#subcategory-${num2}`)
                //   if (cat.html()) {
                //     cat.remove();
                //   }
                //   else {
                //     break;
                //   }
                //   ++num2
                // }
                $('#moduleDataAppend').append(abc)

                $("#exampleModal").modal("toggle");
                // $("#getCode").html(msg);
              } else {
                console.log("not Data Found")
                // document.getElementById("mySubmit").disabled = false;
              }
            }
          })







        }
      </script>
      <%- include("../../partials/script.ejs") %>
</body>

</html>