<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>view-saloon</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <%if(data.parent_Name!=undefined){
                      console.log("data.parent_Name",data.parent_Name)
                      %>
                    <h5 class="card-title">Sub Category</h5>
                    <%}else{%>
                      <h5 class="card-title">Category</h5>
                      <%}%>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th>sr no</th>
                          <th scope="col">Category Name</th>
                          <th scope="col">images</th>
                         
                          <th scope="col">action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let i=0 %>
                          <% for( data of data) { %>
                            <tr>
                              <td scope="row">
                                <%= ++i %>
                              </td>
                              <td>
                                <%= data.Name %>
                              </td>
                              <td>
                                <% if(typeof data.image !="undefined" && data.image!=""){%>
                                  <img  class="rounded-circle" src="uploads/<%= data?.image %>" height="50px" width="50px" alt="">
                                  <!-- <img src="<%= user?.image%>" alt="image" class="rounded-circle" style="width: 40px; height: 50px;border-radius: 50%;"> -->
                                  <%}else{%>
                                      <img src="assets/img/profile-img.jpg" alt="Profile" height="50px" width="50px" class="rounded-circle">
                                      <%}%>
                              </td>


                              <td>
                                <%if(data._doc.del=="view"){%>
                                <a href="/edit?id=<%= data._id%>" class="btn btn-dark">Edit</a>
                                <a href="/view-category?id=<%= data._id%>" class="btn btn-dark">View</a>
                                <a href="/sub_category?id=<%= data._id%>" class="btn btn-dark">Add Sub Category</a>
                                <%}else{%>
                                <a href="/delete?id=<%= data._id%>" class="btn btn-danger">Delete</a>
                                <a href="/sub_category?id=<%= data._id%>" class="btn btn-dark">Add Sub Category</a>
                              <%}%>
                              </td>
                            </tr>
                            <%}%>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

      </main>
      <input type="hidden" id="myText" value={{_id}}>



      <%- include("../../partials/script.ejs") %>
</body>

</html>