<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forget-password</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <%- include("../../partials/headlink.ejs")%>

</head>

<body>
    <%- include("../../partials/Header.ejs") %>
        <%- include("../../partials/sidebar.ejs") %>
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>
                        <%- user.type %>
                    </h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </nav>
                </div><!-- End Page Title -->

                <section class="section dashboard">
                    <div class="row">

                        <!-- Left side columns -->
                        <div class="col-lg-8">
                            <div class="row">

                                <!-- Sales Card -->
                                <div class="col-xxl-4 col-md-6">
                                    <!-- <div class="card info-card sales-card"> -->
                                    <form action="/Forget-password" method="post">
                                        <label for="pin">change your PIN:</label>
                                        enter OldPassword:<input type="Password" id="OldPassword" name="OldPassword"
                                            placeholder="OldPassword"><br><br>

                                        enter password:<input type="password" id="pin" name="password"
                                            placeholder="password" minlength="6" maxlength="8"><br><br>
                                        enter Cpassword:<input type="password" id="pin" name="Cpassword"
                                            placeholder="Cpassword" minlength="6" maxlength="8"><br><br>

                                        <input type="reset" value="Reset">
                                        <input type="submit" value="Submit">
                                    </form>



                                    <!-- </div> -->

                                </div>
                            </div><!-- End Sales Card -->


                        </div>
                    </div>
                    <div class="col-lg-4">

                    </div>
                    </div>
                </section>


            </main><!-- End #main -->

            <!-- ======= Footer ======= -->
            <%- include("../../partials/footer.ejs") %>
                <!-- End Footer -->

                <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                        class="bi bi-arrow-up-short"></i></a>

                <%- include("../../partials/script.ejs") %>

</body>

</html>