<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Forget-password</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <%- include("../../partials/headlink.ejs")%>

</head>

<body>
    <%- include("../../partials/alertMsg") %>
        <%- include("../../partials/Header.ejs") %>
            <%- include("../../partials/sidebar.ejs") %>
                <main id="main" class="main">
                    <div class="pagetitle">
                        <h1>
                            <%- user.type %>
                        </h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </nav>
                    </div>

                    <section class="section dashboard">
                        <div class="row">
                            <div class="card">
                                <div class="card-body"><br>
                                    <form action="/Forget-password" method="post">
                                        <h3 class="col-md-12 text-center">Forget-password</h3>
                                        <br>
                                        <div class=" row g-3">
                                            <div class="col">
                                                <label for="">Old Password</label><br>
                                                <input required type="password" minlength="6" maxlength="8"
                                                    name="OldPassword" class="form-control"
                                                    placeholder="Enter a Old  Password">
                                                <div class="invalid-feedback">Please Enter Password.</div>
                                            </div>
                                            <div class="col">
                                                <label for="">Password</label><br>
                                                <input required type="password" minlength="6" maxlength="8"
                                                    name="password" class="form-control"
                                                    placeholder="Enter a New  Password">
                                                <div class="invalid-feedback">Please Enter Password.</div>
                                            </div>
                                        </div><br>

                                        <div class="row g-3">
                                            <div class="col-6">
                                                <label for="">Password</label><br>
                                                <input type="password" required type="Cpassword" minlength="6"
                                                    maxlength="8" name="Cpassword" class="form-control"
                                                    placeholder="Enter a New  Password">
                                                <div class="invalid-feedback">Please Enter Password.</div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for=""></label><br>
                                                <div class="d-flex justify-content-end">
                                                    <input type="submit" class="btn btn-primary text-center"
                                                        value="Submit">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <label for=""></label><br>
                                                <div class="d-flex justify-content-center">
                                                    <input type="reset" class="btn btn-primary text-center"
                                                        value="Reset">
                                                </div>
                                            </div>
                                        </div>
                                    </form><br>
                                </div>
                            </div>
                        </div>
                        </div>
                    </section>


                </main>

                <%- include("../../partials/footer.ejs") %>
                    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                            class="bi bi-arrow-up-short"></i></a>
                    <%- include("../../partials/script.ejs") %>

</body>

</html>