<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view-user</title>
    <%- include('../../partials/headlink.ejs') %>
</head>

<body>
    <%- include('../../partials/Header.ejs') %>
        <%- include("../../partials/sidebar.ejs") %>
            <%- include("../../partials/alertMsg") %>
                <main id="main" class="main">
                    <div class="pagetitle">
                        <h1><%-user.type %></h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- End Page Title -->
                    <section class="section dashboard">
                        <div class="row">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">Filter</h5>
                                            <!-- No Labels Form -->
                                            <form class="row g-3" action="/all-user">
                                                <div class="col-md-4">
                                                    <label>Name</label> <br>
                                                    <input type="text" class="form-control" placeholder="Enter Name"
                                                        name="name" value=<%=query.name%>>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Email</label> <br>
                                                    <input type="text" class="form-control" placeholder="Enter Email"
                                                        name="email" value=<%=query.email%>>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Mobile No</label> <br>
                                                    <input type="text" class="form-control" placeholder="Enter phone"
                                                        name="mobile" value=<%=query.phone%>>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Select Gender</label> <br>
                                                    <select name="gender" id="" class="form-control">
                                                        <option value="" disabled selected>select gender</option>
                                                        <option value="male" <%=query.gender=="male" ? 'selected' :'' %>
                                                            >male</option>
                                                        <option value="female" <%=query.gender=="female" ? 'selected'
                                                            :'' %>>Female</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label for=""></label><br>
                                                    <select name="status" id="" class="form-control">
                                                        <option value="" selected>select status</option>
                                                        <option value="user" <%=query.status=="user" ? 'selected' :'' %>
                                                            >User</option>
                                                        <option value="admin" <%=query.status=="admin" ? 'selected' :''
                                                            %>>Admin</option>
                                                        <option value="super-admin" <%=query.status=="super-admin"
                                                            ? 'selected' :'' %>>super Admin</option>
                                                        <option value="block-User" <%=query.status=="block-User"
                                                            ? 'selected' :'' %>>block User</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="text-center">
                                                        <label></label> <br>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                        <a href="/all-user"> <button type="button"
                                                                class="btn btn-secondary">Reset</button></a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">user List</h5>
                                            <table class="table datatable">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">phone</th>
                                                        <th scope="col">email</th>
                                                        <th scope="col">gender</th>
                                                        <th scope="col">image</th>
                                                        <th scope="col">Order</th>
                                                        <th scope="col">Referel</th>
                                                        <th scope="col">balance</th>
                                                        <th scope="col">point</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">wallet</th>
                                                        <th scope="col">MoreAction</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let i=0 %>
                                                        <% for( data of data) { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= ++i %>
                                                                </th>
                                                                <td>
                                                                    <%= data.name %>
                                                                </td>
                                                                <td>
                                                                    <%= data.phone %>
                                                                </td>
                                                                <td>
                                                                    <%= data.email %>
                                                                </td>
                                                                <td>
                                                                    <%= data.gender %>
                                                                </td>
                                                                <td>
                                                                    <% if(typeof data.image !=="undefined" &&
                                                                        data.image!="" ){%>
                                                                        <img src="<%= data.image %>" alt="image"
                                                                            class="rounded-circle"
                                                                            style="width: 40px; height: 50px;border-radius: 50%;"
                                                                            onclick="img(this)">
                                                                        <%}else{%>
                                                                            <img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-260nw-1906669723.jpg"
                                                                                alt="image" class="rounded-circle"
                                                                                style="width: 40px; height: 50px;border-radius: 50%;">
                                                                            <%}%>
                                                                </td>

                                                                <td>
                                                                    <% if(typeof data.numberOfOrder !=="undefined" &&
                                                                        data.numberOfOrder!="" ){%>
                                                                        <a href="/get-All-order?userId=<%= data._id %>">
                                                                            <%= data.numberOfOrder %>
                                                                        </a>
                                                                        <%}else{%>
                                                                            <a href="#"> 0 </a>
                                                                            <%}%>
                                                                </td>
                                                                <td>
                                                                    <% if( data.numberOfreferel>0){%>
                                                                        <a href="/all-user?referId=<%=data._id%>">
                                                                            <button type="button" class="btn btn-info">
                                                                                <i class="bi bi-eye">
                                                                                    <%=data.numberOfreferel%>
                                                                                </i>
                                                                            </button>
                                                                        </a>
                                                                        <%}%>
                                                                </td>
                                                                <td>
                                                                    <%= data.userWallet?.balance %>
                                                                </td>
                                                                <td>
                                                                    <%= data.userWallet?.point %>
                                                                </td>
                                                                <td>
                                                                    <%= data.type %>
                                                                </td>
                                                                <td>
                                                                    <button type="button" value="<%=data._id%>"
                                                                        class="btn btn-info" onclick="wallet(this)">
                                                                        <i class="bi bi-wallet2"></i>
                                                                    </button>
                                                                </td>
                                                                <td>
                                                                    <% if( data.type=="block-User" ||
                                                                        data.type=="block-admin" ){%>
                                                                        <a href="/unblock?id=<%= data._id%>"
                                                                            class="btn btn-dark">
                                                                            <i class="bi bi-unlock-fill"></i>
                                                                        </a>
                                                                        <%}else if( data.type=="super-admin" ){%>
                                                                            <a href="#" class="btn btn-dark">
                                                                                Su
                                                                            </a>
                                                                            <a href="/view_saloon?userId=<%=data._id%>">
                                                                                <button type="button"
                                                                                    class="btn btn-info">
                                                                                    <i class="bi bi-eye"></i>
                                                                                </button>
                                                                            </a>
                                                                            <%}else if( data.type=="admin" ){%>
                                                                                <a href="/warningpage?id=<%=data._id%>"
                                                                                    class="btn btn-danger">
                                                                                    <i
                                                                                        class="ri-alarm-warning-line"></i>
                                                                                </a>

                                                                                <a
                                                                                    href="/view_saloon?userId=<%=data._id%>">
                                                                                    <button type="button"
                                                                                        class="btn btn-info">
                                                                                        <i class="bi bi-eye"></i>
                                                                                    </button>
                                                                                </a>
                                                                                <%}else{%>
                                                                                    <a href="/Block-User?id=<%=data._id%>"
                                                                                        class="btn btn-danger">
                                                                                        <i class="bx bx-block"></i>
                                                                                    </a>
                                                                                    <%}%>

                                                                </td>

                                                            </tr>
                                                            <%}%>
                                                </tbody>
                                            </table>
                                            <!-- End Table with stripped rows -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </main>

                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">User Service Data</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="moduleDataAppend">
                                ...
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ///////////////// -->
                <div class="modal fade" id="imgModel" tabindex="-1" aria-labelledby="imgModel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- <div class="modal-header"> -->
                            <!-- <h5 class="modal-title" id="imgModel">User image</h5> -->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                                style="width: 50px;"></button>
                            <!-- </div> -->
                            <div class="modal-body" id="imgDataAppend">
                                ...
                            </div>
                            <!-- <div class="modal-footer"> -->
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                            <!-- </div> -->
                        </div>
                    </div>
                </div>





                <script>
                    function img(a) {
                        $('#imgDataAppend').empty()
                        let abc = `<img src="${a.src}" alt="image" style="width: 100%;  max-height: 400px;">`
                        $('#imgDataAppend').append(abc)
                        $("#imgModel").modal("toggle");
                    }







                    function wallet(a) {
                        $('#moduleDataAppend').empty()

                        let abc = `<!-- No Labels Form -->
                                <form class="row g-3" action="/wallet-Action">
                                    <input type="hidden" name="id" class="form-control" value="${a.value}" readonly>
                                 <div class="col-md-3">
                                  <label>wallet</label> <br>
                                  <select id="inputState" name="type" class="form-select">
                                    <option selected="" value="point">point</option>
                                    <option value="balance">balance </option>
                                  </select>
                                 </div>
                                <div class="col-md-3">
                                  <label>Status Type</label> <br>
                                  <select id="inputState" name="status" class="form-select">
                                        <option value="Add">Add</option>
                                        <option value="debit">debit</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                  <label>Amount</label> <br>
                                    <input type="number" name="amount" class="form-control" value="" placeholder="Enter Amount">
                                </div>

                                <div class="col-md-3">
                                  <label></label> <br>
                                  <div class="text-center">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                  </div>
                                </div>
                            </form>`

                        $('#moduleDataAppend').append(abc)
                        $("#exampleModal").modal("toggle");
                    }
                </script>
                <%- include("../../partials/script.ejs") %>
</body>

</html>