<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>view-saloon</title>

  <%- include('../../partials/headlink.ejs') %>
</head>

<body>

  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1>
            <%-user?.type %>
          </h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Add Service</h5>

                    <% if(typeof service_data !=="undefined" && service_data){%>
                      <form action="/add_service_store?id=<%= service_data._id%>" method="post"
                        enctype="multipart/form-data">
                        <div class="row g-3">
                          <div class="col">
                            <input required type="text" name="ServiceName" value="<%= service_data?.ServiceName%>"
                              class="form-control" placeholder="Enter Your Service Name">
                          </div>
                          <div class="col">
                            <input required type="number" name="ServicePrice" value="<%= service_data?.ServicePrice%>"
                              class="form-control" placeholder="Enter a Service Price">
                          </div>
                        </div><br>

                        <div class="row g-3">
                          <div class="col">
                            <input required type="number" name="timePeriod_in_minits"
                              value="<%= service_data?.timePeriod_in_minits%>" class="form-control"
                              placeholder="Enter a Time Period">
                          </div>
                          <div class="col">
                            <select class="form-select" name="type" aria-label="Default select example" required>
                              <option value="male" <%=service_data?.type==="male" ? "selected" : "" %> >Male</option>
                              <option value="female" <%=service_data?.type==="female" ? "selected" : "" %>>Female
                              </option>
                              <option value="unisex" <%=service_data?.type==="unisex" ? "selected" : "" %>>Unisex
                              </option>
                            </select>
                          </div>
                        </div><br>

                        <div class="row g-3">
                          <div class="col">
                            <textarea class="form-control" name="description" placeholder="Description"
                              style="height: 100px" required><%= service_data?.description%></textarea>
                          </div>
                          <div class="col">
                            <input class="form-control" type="file" name="image" id="formFile" multiple required>
                            <%for(image of service_data.image){%>
                              <img src="../../../../uploads/<%=image%>" width="70px">
                              <%}%>
                          </div>
                        </div><br>

                        <div class="row g-3">
                          <div class="col">
                            <select class="form-select" name="saloonStore" aria-label="Default select example" required>

                              <% for(saloon of saloon_data){%>
                                <option value="<%= saloon?._id%>"
                                  <%=service_data?.saloonStore.toString()===saloon?._id.toString() ? "selected" : "" %>>
                                  <%= saloon?.storeName%>
                                </option>
                                <%}%>
                            </select>
                          </div>
                          <div class="col">
                            <select class="form-select" multiple="" name="category[]"
                              aria-label="multiple select example" required>
                              <% for(data of category){%>
                                <option value="<%= data?._id%>" <%=service_data?.category.includes(data._id.toString())
                                  ? "selected" : "" %> ><%= data?.Name%>
                                </option>
                                <%}%>

                            </select>
                          </div>
                        </div><br>
                        <div class="row mb-3">

                          <div class="col-sm-10">
                            <button type="submit" class="btn btn-primary">Update</button>
                          </div>
                        </div>
                      </form>
                      <%}else{%>
                        <form action="/add_service_store" method="post" enctype="multipart/form-data">
                          <div class="row g-3">
                            <div class="col">
                              <input required type="text" name="ServiceName" class="form-control"
                                placeholder="Enter Your Service Name">
                            </div>
                            <div class="col">
                              <input required type="number" name="ServicePrice" class="form-control"
                                placeholder="Enter a Service Price">
                            </div>

                          </div><br>


                          <div class="row g-3">
                            <div class="col">
                              <input required type="number" name="timePeriod_in_minits" class="form-control"
                                placeholder="Enter a Time Period">
                            </div>
                            <div class="col">
                              <select class="form-select" name="type" aria-label="Default select example" required>
                                <option selected="">Select Type</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="unisex">Unisex</option>
                              </select>
                            </div>
                          </div><br>

                          <div class="row g-3">
                            <div class="col">
                              <textarea class="form-control" name="description" placeholder="Description"
                                style="height: 100px" required></textarea>
                            </div>
                            <div class="col">
                              <input class="form-control" type="file" name="image" id="formFile" multiple required>
                            </div>
                          </div><br>

                          <div class="row g-3">

                            <div class="col">
                              <select class="form-select" name="category[]" aria-label="multiple select example"
                                required onchange="clickMe(this)">
                                <option selected="">Select Category</option>
                                <% for(data of category){%>
                                  <option value="<%= data?._id%>">
                                    <%= data?.Name%>
                                  </option>
                                  <%}%>
                              </select>
                            </div>
                            <div class="col">
                              <select class="form-select" name="saloonStore" aria-label="Default select example"
                                required>
                                <option selected="">Select Saloon</option>
                                <% for(saloon of saloon_data){%>
                                  <option value="<%= saloon?._id%>">
                                    <%= saloon?.storeName%>
                                  </option>
                                  <%}%>
                              </select>
                            </div>
                            <div id="myselect" class="col-md-12">

                            </div>

                          </div><br>
                          <div class="row mb-3">

                            <div class="col-sm-10">
                              <button type="submit" id='mySubmit' class="btn btn-primary">Submit</button>
                            </div>
                          </div>
                        </form>
                        <%}%>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

      <script>
        document.getElementById("mySubmit").disabled = true;
        function clickMe(select) {
          let num = Number(select.id)
          let category = select.value
          $.ajax({
            type: 'get',
            data: { "select": category },
            url: '/optiongeturl',// nandlal
            success: function (data) {
              if (data.length > 0) {
                let abc = `<div id="subcategory-${num + 1}"><label for="inputAddress" class="form-label">Sub Category</label>`
                abc += `<select style="width:50%;margin-bottom:20px"   class="form-select" onchange="clickMe(this )" name="category" id="${num + 1}">`
                abc += `<option>select Sub Category</option>`

                data.forEach((item) => {
                  abc += `<option value=${item._id}>${item.Name}</option>`
                })

                abc += `</select></div>`
                let num2 = num + 1
                while (true) {
                  let cat = $(`#subcategory-${num2}`)
                  if (cat.html()) {
                    cat.remove();
                  } else {
                    break;
                  }
                  ++num2
                }
                $('#myselect').append(abc)
              } else {
                document.getElementById("mySubmit").disabled = false;
              }
            }
          })
        }
      </script>


      <%- include("../../partials/script.ejs") %>
</body>


</html>