<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>notifications</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>
      <%- include("../../partials/alertMsg") %>
        <main id="main" class="main">
          <div class="pagetitle">
            <h1>
              <%-user.type %>
            </h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <section class="section dashboard">
            <div class="row">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">

                      <%if(data?._id){%>
                        <h5 class="card-title">
                          <%= data.services %>
                        </h5>
                        <form action="Send-All-User-Email?ContectUs=<%=data._id%>" id="form" method="post">
                          <%}else{%>
                            <h5 class="card-title">newsletters</h5>
                            <form action="Send-All-User-Email" id="form" method="post">
                              <%}%>

                                <div class="row g-3">
                                  <div class="col-md-9">
                                    <label for="">Enter description</label>
                                    <textarea class="form-control" name="description" placeholder="Enter Description"
                                      style="height: 100px" required="" minlength="5"></textarea>
                                  </div>

                                  <div class="col-md-3">
                                    <div class="col">
                                      <label for="">Choose Status </label>
                                      <select class="form-select" name="status" aria-label="Default select example"
                                        required="">
                                        <%if(data?._id){%>
                                          <option value="R">Requist reply</option>
                                          <%}else{%>
                                            <option value="1">Only Saloon</option>
                                            <option value="2">Only users</option>
                                            <option value="3">News-Letter-suscribe</option>
                                            <option value="0">All</option>
                                            <%}%>
                                      </select>
                                      <div class="valid-feedback">Looks good!</div>
                                      <div class="invalid-feedback">Please Select Gender.</div>
                                    </div>
                                  </div>
                                </div><br>

                                <div class="row mb-3">
                                  <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                  </div>
                                </div>
                            </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <%- include("../../partials/script.ejs") %>
</body>

</html>