<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>create-Coupon</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>
      <main id="main" class="main">
        <div class="pagetitle">
          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <% if(typeof Coupon !=="undefined" && Coupon){%>
                     
                        <h5 class="card-title">Coupon Edit</h5>
                        <form class="needs-validation row g-3" action="/Create-Coupon?id=<%=Coupon._id %>" method="post"
                          novalidate>
                          <div class="col-md-6">
                            <label for="">Title Name</label>
                            <input type="text" name="Title" class="form-control" placeholder="Enter Title Name"
                              value="<%=Coupon.Title %>" required>
                            <div class="invalid-feedback">Please Enter Title Name.</div>
                          </div>

                          <div class="col-md-6">
                            <label for="">Coupon Code</label>
                            <input type="text" name="CouponCode" class="form-control" placeholder=" Enter CouponCode"
                              value="<%=Coupon.CouponCode %>" required>
                            <div class="invalid-feedback">Please Enter Coupon Code.</div>
                          </div>

                          <div class="col-md-6">
                            <label for="">Start Date</label>
                            <input placeholder="Enter starting date" name="StartDate" type="date" id="startingDate"
                              value="<%=Coupon.StartDate %>" class="form-control datepicker"
                              data-date-format="DD-MMMM-YYYY" required>
                            <div class="invalid-feedback">Please Enter Start Date.</div>

                          </div>

                          <div class="col-md-6">
                            <label for="">End Date</label>
                            <input placeholder="Enter ending date" name="EndDate" type="date" id="endingDate"
                              class="form-control datepicker" value="<%=Coupon.EndDate %>"
                              data-date-format="DD-MMMM-YYYY" required>
                            <div class="invalid-feedback">Please Enter End Date.</div>

                          </div>

                          <div class="col-md-6">
                            <label for="">Coupon Limit</label>
                            <input type="number" name="Limit" min="1" max="5" value="<%=Coupon.Limit %>"
                              class="form-control" placeholder="Enter Limit" required>
                            <div class="invalid-feedback">Please Enter Limit.</div>

                          </div>

                          <div class="col-md-4">
                            <label for="">Amount</label>
                            <input type="number" name="Amount" value="<%=Coupon.Amount %>" class="form-control"
                              placeholder="Enter Amount" required>
                            <div class="invalid-feedback">Please Enter Amount.</div>

                          </div>

                          <div class="col-md-2">
                            <label for="">Discount</label>
                            <input type="number" name="Discount" value="<%=Coupon.Discount %>" class="form-control"
                              placeholder="Enter Discount" required>
                            <div class="invalid-feedback">Please Enter Discount.</div>

                          </div>

                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>

                        </form><!-- End No Labels Form -->
                        <%}else{%>
                          <h5 class="card-title">Coupon create</h5>
                          <!-- No Labels Form -->
                          <form class="needs-validation row g-3" action="/Create-Coupon" method="post" novalidate>
                            <div class="col-md-6">
                              <label for="">Title Name</label>
                              <input type="text" name="Title" class="form-control" placeholder="Enter Title Name"
                                required>
                              <div class="invalid-feedback">Please Enter Title Name.</div>

                            </div>

                            <div class="col-md-6">
                              <label for="">Coupon Code</label>
                              <input type="text" name="CouponCode" class="form-control" placeholder="Enter CouponCode"
                                required>
                              <div class="invalid-feedback">Please Enter Coupon Code.</div>

                            </div>

                            <div class="col-md-6">
                              <label for="">Start Date</label>
                              <input placeholder="Selected starting date" name="StartDate" type="date" id="startingDate"
                                class="form-control datepicker" required>
                              <div class="invalid-feedback">Please Enter Start Date.</div>

                            </div>

                            <div class="col-md-6">
                              <label for="">End Date</label>
                              <input placeholder="Selected ending date" name="EndDate" type="date" id="endingDate"
                                class="form-control datepicker" required>
                              <div class="invalid-feedback">Please Enter End Date.</div>

                            </div>

                            <div class="col-md-6">
                              <label for="">Limit</label>
                              <input type="number" name="Limit" min="1" max="5" class="form-control"
                                placeholder="Enter Limit" required>
                              <div class="invalid-feedback">Please Enter Limit.</div>

                            </div>

                            <div class="col-md-4">
                              <label for="">Amount</label>
                              <input type="number" id="Amount" name="Amount" class="form-control"
                                placeholder="Enter Amount" required>
                              <div class="invalid-feedback">Please Enter Amount.</div>

                            </div>

                            <div class="col-md-2">
                              <label for="">Discount</label>
                              <input type="number" id="Discount" name="Discount" class="form-control"
                                placeholder="Enter Discount" required>
                              <div class="invalid-feedback">Please Enter Discount.</div>

                            </div>

                            <div class="text-center">
                              <button type="submit" class="btn btn-primary">Submit</button>
                              <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>

                          </form><!-- End No Labels Form -->
                          <%}%>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <script>
        const Amount = document.getElementById('Amount');
        const Discount = document.getElementById('Discount');

        Amount.addEventListener('input', () => {
          Discount.value = Math.min(Amount.value, Discount.value);
        });
        Discount.addEventListener('input', () => {
          Discount.value = Math.min(Amount.value, Discount.value);
        });
      </script>

      <%- include("../../partials/script.ejs") %>
        <script type="text/javascript">
          $(function () {
            $('input[name="daterange"]').daterangepicker();
          });
        </script>
</body>

</html>