<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Coupon</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Filter</h5>

                    <!-- No Labels Form -->
                    <form class="needs-validation row g-3" action="/View-All-Coupon" novalidate >
                      <div class="col-md-4">
                        <label>Enter Greater Than Amount</label> <br>
                        <input type="number" name="amount" class="form-control" placeholder="Enter Amount"
                          value="<%=searchobj.Amount%>">
                        <div class="invalid-feedback">Please Enter Amount.</div>

                      </div>
                      <div class="col-md-4">
                        <label>Title</label> <br>
                        <input type="text" name="title" class="form-control" placeholder="Enter Title"
                          value=<%=searchobj.Title%>>
                          <div class="invalid-feedback">Please Enter Title.</div>

                      </div>
                      <div class="col-md-4">
                        <label>Coupon</label> <br>

                        <input type="text" name="coupon" class="form-control" placeholder="Enter Coupon"
                          value="<%=searchobj.CouponCode%>">
                          <div class="invalid-feedback">Please Enter Coupon.</div>


                      </div>
                      <div class="col-md-4">
                        <label>Start Date</label> <br>

                        <input type="Date" name="startdate" class="form-control" placeholder="Enter Start Date"
                          value=<%=searchobj.StartDate%>>
                          <div class="invalid-feedback">Please Enter Start Date.</div>


                      </div>
                      <div class="col-md-4">
                        <label>End Date</label> <br>

                        <input type="Date" name="enddate" class="form-control" placeholder="Enter End Date"
                          value=<%=searchobj.EndDate%>>
                          <div class="invalid-feedback">Please Enter End Date.</div>


                      </div>
                      <div class="col-md-4">
                        <div class="text-center">
                          <label></label> <br>

                          <button type="submit" class="btn btn-primary">Submit</button>
                          <a href="/View-All-Coupon"> <button type="button" class="btn btn-secondary">Reset</button></a>
                        </div>
                      </div>
                    </form>
                    <!-- End No Labels Form -->

                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Coupon List</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Title</th>
                          <th scope="col">CouponCode</th>
                          <th scope="col">StartDate</th>
                          <th scope="col">EndDate</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Limit</th>
                          <th scope="col">Discount</th>
                          <th scope="col">MoreAction</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let i=0 %>
                          <% for( data of data) { %>
                            <tr>
                              <th scope="row">
                                <%= ++i %>
                              </th>
                              <td>
                                <%= data.Title %>
                              </td>
                              <td>
                                <%= data.CouponCode %>
                              </td>
                              <td>
                                <%= data.StartDate %>
                              </td>
                              <td>
                                <%= data.EndDate %>
                              </td>
                              <td>
                                <%= data.Amount %>
                              </td>
                              <td>
                                <%= data.Limit %>
                              </td>
                              <td>
                                <%= data.Discount %>
                              </td>
                              <td>
                                <a href="/Coupon?id=<%= data._id%>" class="btn btn-info"><i class="ri-edit-box-line"
                                    title="Edit"></i></a>
                                <a href="/Delete-Coupon?id=<%= data._id%>" class="btn btn-danger"><i
                                    class="ri-delete-bin-5-line" title="delete"></i></a>
                              </td>
                            </tr>
                            <%}%>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

      </main>

      <%- include("../../partials/script.ejs") %>
      <script src="/public/assets/js/form-validation.js"></script>

</body>

</html>