<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view-saloon</title>

    <%- include('../../partials/headlink.ejs') %>
</head>

<body>
   
        <%- include('../../partials/Header.ejs') %>
            <%- include("../../partials/sidebar.ejs") %>

                <main id="main" class="main">
                    <div class="pagetitle">
                        <h1>
                            <%-user.type %>
                        </h1>
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active">Dashboard</li>
                            </ol>
                        </nav>
                    </div><!-- End Page Title -->

                    <section class="section dashboard">
                        <div class="row">
                          <div class="row">
                            <div class="col-lg-12">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Add Saloon</h5>
                                  
                                      <% if(typeof saloon_data !=="undefined" && saloon_data){%>
                                      <form action="/add_saloon_store?id=<%=saloon_data._id%>" method="post" enctype="multipart/form-data">
                                        <div class="row g-3">
                                          <div class="col">
                                            <input required type="text" name="storeName" class="form-control" value="<%= saloon_data.storeName%>" placeholder="Enter Your Store Name">
                                          </div>
                                          <div class="col">
                                            <input required type="text" name="email" class="form-control" value="<%= saloon_data.email%>" placeholder="Enter a email">
                                          </div>
                                        </div><br>

                                        <div class="row g-3">
                                      
                                          <div class="col">
                                            <input required type="number" id="addressSearch" name="Phone" patter=".{10,10}" value="<%= saloon_data.Phone%>"class="form-control pac-target-input" placeholder="Enter Your Mobile Number"  autocomplete="off">
                                          </div>
                                        </div><br>

                                        <div class="row g-3">
                                          <div class="col">
                                            <input required type="number" id="addressSearch" name="shopNumber" value="<%= saloon_data.location.shopNumber%>"class="form-control pac-target-input" placeholder="Enter a shopNumber" autocomplete="off">
                                          </div>
                                          <div class="col">
                                            <input required type="text" id="addressSearch" name="pincode"  value="<%= saloon_data.location.pincode%>"class="form-control pac-target-input"  placeholder="Enter a Pin Code" autocomplete="off">
                                          </div>
                                        </div><br>

                                        <div class="row g-3">
                                          <div class="col">
                                            <input required type="text" id="addressSearch" name="city"  value="<%= saloon_data.location.city%>"class="form-control pac-target-input" placeholder="Enter a city"  autocomplete="off">
                                          </div>
                                          <div class="col">
                                            <input required type="text" id="addressSearch" name="state" value="<%= saloon_data.location.state%>" class="form-control pac-target-input" placeholder="Enter a state" autocomplete="off">
                                          </div>
                                        </div><br>

                                        <div class="row g-3">
                                          <div class="col">
                                            <input required type="text" id="addressSearch" name="aria" value="<%= saloon_data.location.aria%>"  class="form-control pac-target-input" placeholder="Enter a Aria" autocomplete="off">
                                          </div>
                                          <div class="col">
                                            <input required type="text" id="addressSearch" name="type" value="<%= saloon_data.type%>" class="form-control pac-target-input" placeholder="saloon type" autocomplete="off">
                                          </div>
                                        </div><br>

                                        <div class="row g-3">
                                          <div class="col">
                                            <textarea class="form-control" name="description" placeholder="Description" style="height: 100px" required><%= saloon_data.description%></textarea>
                                          </div>
                                          <div class="col">
                                            <input  class="form-control" type="file" name="image" id="formFile" multiple required>
                                            <%for(image of saloon_data.image){%>
                                            <img  src="/uploads/<%=image%>" width="70px">
                                            <%}%>
                                          </div>
                                        </div><br>

                                        <div class="row mb-3">
                                          <label class="col-sm-2 col-form-label">Select category</label>
                                          <div class="col-sm-10">
                                            <select class="form-select" multiple="" name="category[]"aria-label="multiple select example" required>
                                              <% for(category of saloon_data.category){%>
                                                <option value="<%= category%>" <%= category ? "selected" : "" %>><%=category %></option>
                                                <%if("spa"!=category){%>
                                                  <option value="spa">Spa</option>
                                                           
                                                <%}%>
                                                <%if("parlour"!=category){%>
                                                  <option value="parlour">Parlour</option>
                                                           
                                                <%}%>
                                                <%if("Saloon"!=category){%>
                                                  <option value="Saloon">Saloon</option>
                                                           
                                                <%}%>
                                                
                                                  
                                          
                                              <%}%>
                                            </select>
                                          </div>
                                        </div>

    
                                          <div class="row mb-3">
                                            
                                            <div class="col-sm-10">
                                              <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                          </div>
                        
                                      </form>
                                      <%}else{%>
                                        <form action="/add_saloon_store" method="post" enctype="multipart/form-data">

                                          <div class="row g-3">
                                            <div class="col">
                                              <input required type="text" name="storeName" class="form-control" placeholder="Enter Your Store Name">
                                            </div>
                                            <div class="col">
                                              <input required type="text" name="email" class="form-control" placeholder="Enter a email">
                                            </div>
                                            
                                          </div><br>

                                          <div class="row g-3">
                                            <div class="col">
                                              <input required type="text" name="password" class="form-control" placeholder="Enter a Password">
                                            </div>
                                            <div class="col">
                                              <input required type="number" id="addressSearch" name="Phone" class="form-control pac-target-input" placeholder="Enter Your Mobile Number" autocomplete="off">
                                            </div>
                                            
                                          </div><br>

                                          <div class="row g-3">
                                            <div class="col">
                                              <input required type="number" id="addressSearch" name="shopNumber" class="form-control pac-target-input" placeholder="Enter a shopNumber" autocomplete="off">
                                            </div>
                                            <div class="col">
                                              <input required type="text" id="addressSearch" name="pincode" class="form-control pac-target-input"  placeholder="Enter a Pin Code" autocomplete="off">
                                            </div>
                                          </div><br>

                                          <div class="row g-3">
                                            <div class="col">
                                              <input required type="text" id="addressSearch" name="city" class="form-control pac-target-input" placeholder="Enter a city"  autocomplete="off">
                                            </div>
                                            <div class="col">
                                              <input required type="text" id="addressSearch" name="state" class="form-control pac-target-input" placeholder="Enter a state" autocomplete="off">
                                            </div>
                                          </div><br>

                                          <div class="row g-3">
                                            <div class="col">
                                              <input required type="text" id="addressSearch" name="aria" class="form-control pac-target-input" placeholder="Enter a Aria" autocomplete="off">
                                            </div>
                                            <div class="col">
                                              <input required type="text" id="addressSearch" name="type" class="form-control pac-target-input" placeholder="saloon type" autocomplete="off">
                                            </div>
                                          </div><br>

                                          <div class="row g-3">
                                            <div class="col-6">
                                              <textarea class="form-control" name="description" placeholder="Description" style="height: 100px" required></textarea>
                                            </div>
                                            <div class="col-6">
                                              <label for="appt-time">Choose Image </label>
                                              <input  class="form-control" type="file" name="image" id="formFile" multiple required>

                                            </div>
                                          <div class="row g-3">

                                            <div class="col-6">
                                              <label for="starting-time">Starting Time </label>
                                              <input id="starting_time" type="time" class="form-control pac-target-input" name="starting_time" required/>
                                            </div>
                                            <div class="col-6">
                                              <label for="ending-time">Ending Time </label>
                                              <input id="ending_time" type="time" class="form-control pac-target-input" name="ending_time" required/>
                                            </div>
                                            
                                            <!-- <div class="col-4">
                                              <label for="appt-time">Choose Image </label>
                                              <input  class="form-control" type="file" name="image" id="formFile" multiple>

                                            </div> -->
                                            <!-- <div class="col-4">
                                            <label for="week">Choose a week in May or June:</label>

                                            <input type="week" name="week" id="camp-week"
                                                   min="2018-W18" class="form-control pac-target-input" max="2018-W26" required>
                                                  </div> -->
                                          </div>
                                          <div class="row g-3">

                                            <div class="col-6">
                                              
                                           
                                              <select class="form-select"  name="startingweek"aria-label="multiple select example" required>
                                                <option selected="" disabled>Select Starting Day</option>
                                                <option value="Sunday">Sunday</option>
                                                <option value="Monday">Monday</option>
                                                <option value="Tuesday">Tuesday</option>
                                                <option value="Wenesday">Wenesday</option>
                                                <option value="Thursday">Thursday</option>
                                                <option value="Friday">Friday</option>
                                                <option value="Saturday">Saturday</option>
                                              </select>       
                                  </div>
                                  <div class="col-6">
                                              
                                           
                                    <select class="form-select"  name="endingweek"aria-label="multiple select example" required>
                                      <option selected="" disabled>Select Ending Day</option>
                                      <option value="Sunday">Sunday</option>
                                      <option value="Monday">Monday</option>
                                      <option value="Tuesday">Tuesday</option>
                                      <option value="Wenesday">Wenesday</option>
                                      <option value="Thursday">Thursday</option>
                                      <option value="Friday">Friday</option>
                                      <option value="Saturday">Saturday</option>
                                    </select>       
                        </div>                                            
                                            <!-- <div class="col-4">
                                              <label for="appt-time">Choose Image </label>
                                              <input  class="form-control" type="file" name="image" id="formFile" multiple>

                                            </div> -->
                                            <!-- <div class="col-4">
                                            <label for="week">Choose a week in May or June:</label>

                                            <input type="week" name="week" id="camp-week"
                                                   min="2018-W18" class="form-control pac-target-input" max="2018-W26" required>
                                                  </div> -->
                                          </div>
                                          
                                            
                                          </div><br>

                                          <div class="row mb-3">
                                            <label class="col-sm-2 col-form-label">Select category</label>
                                            <div class="col-sm-10">
                                              <select class="form-select" multiple="" name="category[]"aria-label="multiple select example" required>
                                                <option selected="" disabled>Open this select menu</option>
                                                <option value="spa">Spa</option>
                                                <option value="parlour">Parlour</option>
                                                <option value="Saloon">Saloon</option>
                                                
                                              </select>
                                            </div>
                                            
                                          </div>

      
                                            <div class="row mb-3">
                                              
                                              <div class="col-sm-10">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                              </div>
                                            </div>
                            
                                          </form>
                                      <%}%>  
                                      
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                </main>



                <%- include("../../partials/script.ejs") %>
</body>

</html>