<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>view-saloon</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Filter</h5>

                    <!-- No Labels Form -->
                    <form class="row g-3" action="/view_saloon">
                      <div class="col-md-3">
                        <label>Choose City</label> <br>
                        <select id="inputState" name="city" class="form-select">
                          <% if( query.city!=undefined&&query.city!="" ){%>
                            <option selected="" value="<%=query?.city%>">
                              <%=query?.city%>
                            </option>
                            <option value="">Choose City</option>
                            <%}else{%>
                              <option selected="" value="">Choose City</option>
                              <%}%>
                                <% city.forEach(function(citys) { %>
                                  <option value="<%=citys%>">
                                    <%=citys%>
                                  </option>
                                  <% }); %>
                        </select>
                      </div>
                      <div class="col-md-3">
                        <label>Enter email</label> <br>
                        <% if(query?.email!="" ){%>
                          <input type="text" name="email" class="form-control" value="<%=query?.email%>"
                            placeholder="email">
                          <%}else{%>
                            <input type="text" name="email" class="form-control" placeholder="email">
                            <%}%>
                      </div>
                      <div class="col-md-3">
                        <label>Enter Phone</label> <br>
                        <% if(query?.Phone!="" ){%>
                          <input type="number" name="Phone" class="form-control" value="<%=query?.Phone%>"
                            placeholder="Phone">
                          <%}else{%>
                            <input type="number" name="Phone" class="form-control" placeholder="Phone">
                            <%}%>
                      </div>
                      <div class="col-md-3">
                        <label></label> <br>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Submit</button>
                          <a href="/view_saloon"> <button type="button" class="btn btn-secondary">Reset</button></a>
                        </div>
                      </div>
                    </form>
                    <!-- End No Labels Form -->

                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Saloon List</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Store Name</th>
                          <th scope="col">Owner Name</th>
                          <th scope="col">Email</th>
                          <th scope="col">Phone Number</th>
                          <th scope="col">Location</th>
                          <th scope="col">Profile</th>
                          <th scope="col">Doc</th>
                          <th scope="col">Bank Info</th>
                          <th scope="col">saloonService</th>
                          <th scope="col">packageService</th>
                          <th scope="col">MoreAction</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let i=0 %>
                          <% for( data of data) { %>
                            <tr>
                              <th scope="row">
                                <%= ++i %>
                              </th>
                              <td>
                                <%= data.storeName %>
                              </td>
                              <td>
                                <%= data.name %>
                              </td>
                              <td>
                                <%= data.email %>
                              </td>
                              <td>
                                <%= data.Phone %>
                              </td>
                              <!-- <td>
                                <button type="button" value="<%=data._id%>" onclick="saloonAdd(this)"
                                  class="btn btn-info"><i class="bi bi-eye"></i></button>
                              </td>
                              <td>Profile</td>
                              <td>Docu ment</td>
                              <td>Bank Info</td> -->
                              <td>
                                <button type="button" value="<%= data._id %>" id="location" onclick="saloonAdd(this)"
                                  class="btn btn-info">
                                  <i class="bi bi-eye" title="view"></i>
                                </button>
                              </td>
                              <td>
                                <button type="button" value="<%= data._id %>" id="profile" onclick="saloonAdd(this)"
                                  class="btn btn-info">
                                  <i class="bi bi-eye" title="view"></i>
                                </button>
                              </td>
                              <td>
                                <button type="button" value="<%= data._id %>" id="Document" onclick="saloonAdd(this)"
                                  class="btn btn-info">
                                  <i class="bi bi-eye" title="view"></i>
                                </button>
                              </td>
                              <td>
                                <button type="button" value="<%= data._id %>" id="BankInfo" onclick="saloonAdd(this)"
                                  class="btn btn-info">
                                  <i class="bi bi-eye" title="view"></i>
                                </button>
                              </td>

                              <td>
                                <%if( data.Service[0]?.numberOfService>0){%>
                                  <a href="/view_service?id=<%= data._id%>" class="btn btn-success">
                                    <%= data.Service[0]?.numberOfService %>
                                      <i class="bi bi-eye" title="view Service"></i>
                                  </a>
                                  <% }%>
                                    <a href="/add_service?saloonId=<%= data._id%>"
                                      class="btn btn-success text-warning"><i class="ri-file-add-line"
                                        title="Add Sub Category"></i></a>
                              </td>
                              <td>
                                <%if( data.Service[0]?.numberOfService>1){%>
                                  <!-- <a href="/view_service?id=<%= data._id%>" class="btn btn-success">
                                    <%= data.Service[0]?.numberOfService %>
                                      <i class="bi bi-eye" title="view Service"></i>
                                  </a> -->
                                  <!-- sahil view -->
                                  <%if( data.result.length>0){%>
                                    <a href="/view-service-Package-particular?id=<%= data._id%>" class="btn btn-success">
                                      <%= data.result.length %>
                                        <i class="bi bi-eye" title="view Service"></i>
                                    </a>
                                    <%}%>
                                  <!-- sahil view end -->
                                  <a href="/package?saloonId=<%= data._id%>" class="btn btn-success text-warning"><i
                                      class="ri-file-add-line" title="Add Sub Category"></i></a>
                                  <% }%>
                              </td>
                              <td>
                                <!-- <a href="/add_saloon?id=<%= data._id%>" class="btn btn-dark">Edit</a>
                                <a href="/delete_saloon?id=<%= data._id%>" class="btn btn-danger">Delete</a> -->
                                <a href="/add_saloon?id=<%= data._id%>" class="btn btn-info"><i class="ri-edit-box-line"
                                    title="Edit"></i></a>
                                <a href="/delete_saloon?id=<%= data._id%>" class="btn btn-danger">
                                  <i class="ri-delete-bin-5-line" title="delete"></i>
                                </a>
                              </td>
                            </tr>
                            <%}%>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

      </main>

      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User Service Data</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="moduleDataAppend">
              ...
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
          </div>
        </div>
      </div>


      <script>
        function saloonAdd(element) {
          let num = element.value
          $.ajax({
            type: 'get',
            data: { "id": num },
            url: '/get-saloon-address',
            success: function (data) {
              if (data.length > 0) {
                $('#moduleDataAppend').empty()
                if (element.id == "location") {
                  abc = ` <table class="table datatable">
                            <thead>
                              <tr>
                                <th scope="col">Shop Number</th>
                                <th scope="col">Pin Code</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                              </tr>
                            </thead>
                            <tbody>`
                  data.forEach((item) => {
                    abc += `<tr>
                                <td>
                                  ${item.location.shopNumber}
                                </td>
                                <td>
                                  ${item.location.pincode}
                                </td>
                                <td>
                                  ${item.location.city}
                                </td>
                                <td>
                                  ${item.location.state}
                                </td>
                            </tr>`
                  })
                  abc += `</tbody> </table >`
                } else if (element.id == "profile") {
                  abc = ` <table class="table datatable">
                            <thead>
                              <tr>
                                <th scope="col">Service</th>
                                <th scope="col">Phone</th>
                                <th scope="col">workingday</th>
                                <th scope="col">
                                  <i class="bi bi-facebook"></i>
                                  <i class="bi bi-instagram"></i>
                                  <i class="bi bi-link-45deg"></i>
                                <th scope="col">amenities</th>
                              </tr>
                            </thead>
                            <tbody>`
                  data.forEach((item) => {
                    abc += `<tr>
                                <td>
                                  ${item.ProfileInfo.yourService}
                                </td>
                                <td>
                                  ${item.ProfileInfo.alternatePhone}
                                </td>
                                <td>
                                  view
                                </td>
                                <td>
                                  <a href="${item.ProfileInfo.FaceBookProfile}"><i class="bi bi-facebook"></i></a>
                                  <a href="${item.ProfileInfo.instaProfile}"><i class="bi bi-instagram"></i></a>
                                  <a href="${item.ProfileInfo.webProfile}"><i class="bi bi-link-45deg"></i></a>
                                </td>
                                <td>
                                 view
                                </td>
                            </tr>`
                  })
                  abc += `</tbody> </table >`
                } else if (element.id == "Document") {
                  abc = ` <table class="table datatable">
                            <thead>
                              <tr>
                                <th scope="col">Banner Logo</th>
                                <th scope="col">logo Image</th>
                                <th scope="col">pan Image</th>
                                <th scope="col">business Certificate</th>
                              </tr>
                            </thead>
                            <tbody>`
                  data.forEach((item) => {
                    abc += `<tr>
                                <td>
                                 <img src="/uploads/${item.uplodeDocuments.BannerLogo}" style="height: 50px; width: 80px alt="">

                                </td>
                                <td>
                                 <img src="/uploads/${item.uplodeDocuments.logoImage}" style="height: 50px; width: 80px alt="">

                                </td>
                                <td>
                                <img src="/uploads/${item.uplodeDocuments.panImage}" style="height: 50px; width: 80px alt="">

                                </td>
                                <td>
                                 <img src="/uploads/${item.uplodeDocuments.businessCertificate}" style="height: 50px; width: 80px alt="">

                                </td>
                               </tr>`
                  })
                  abc += `</tbody> </table >`
                } else if (element.id == "BankInfo") {
                  abc = ` <table class="table datatable">`
                  data.forEach((item) => {
                    abc += `<tr>
                                <th scope="col">pan No</th>  <td scope="col">${item.BankInfo.panNo}</td>
                             </tr>
                             <tr>
                                <th scope="col">gstNo</th>  <td scope="col">${item.BankInfo.gstNo}</td>
                             </tr>
                             <tr>
                                <th scope="col">bankName</th>  <td scope="col">${item.BankInfo.bankName}</td>
                             </tr>
                             <tr>
                                <th scope="col">branchName</th>  <td scope="col">${item.BankInfo.branchName}</td>
                             </tr>
                             <tr>
                                <th scope="col">accountNo</th>  <td scope="col">${item.BankInfo.accountNo}</td>
                             </tr>
                             <tr>
                                <th scope="col">accoutHolder</th>  <td scope="col">${item.BankInfo.accoutHolder}</td>
                             </tr>
                             <tr>
                                <th scope="col">ifscCode</th>  <td scope="col">${item.BankInfo.ifscCode}</td>
                             </tr>
                             <tr>
                                <th scope="col">kyc</th>  <td scope="col">${item.BankInfo.kyc}</td>
                             </tr>`
                  })
                  abc += ` </table >`
                }

                $('#moduleDataAppend').append(abc)
                $("#exampleModal").modal("toggle");
              } else {
                alert("data not Found")
              }
            }
          })
        }
      </script>


      <%- include("../../partials/script.ejs") %>
</body>

</html>