<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add-faq-question</title>

  <%- include('../../partials/headlink.ejs') %>
</head>

<body>

  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1>
            <%-user.type %>
          </h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <% if(faqData){%>
                      <h5 class="card-title">Edit Frequent</h5>
                      <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">Question :</label>
                        <div class="col-sm-10">
                          <input type="text" id="question" name="que" value="<%=faqData.question%>" class="form-control"
                            required>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <label for="inputText" class="col-sm-2 col-form-label">blog :</label>
                        <div class="col-sm-5">
                          <select name="blogId" id="blogId">
                            <%for (blog of Findblog) {%>
                              <option value="<%=blog._id%>">
                                <%=blog.Title%>
                              </option>
                              <%}%>
                          </select>
                        </div>
                      </div>

                  </div>

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Answer</h5>

                      <!-- Quill Editor Full -->
                      <div class="quill-editor-full" required>
                        <div id="answer"></div>
                      </div>

                    </div>
                  </div>


                  <%} else{%>
                    <h5 class="card-title">Add Frequent</h5>

                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">Question:</label>
                      <div class="col-sm-10">
                        <input type="text" id="question" name="que" placeholder="Enter Question " class="form-control"
                          required minlength="5">
                      </div>
                    </div>


                    <div class="row mb-3">
                      <label for="inputText" class="col-sm-2 col-form-label">blog :</label>
                      <div class="col-sm-5">
                        <select name="blogId" id="blogId" class="form-control">
                          <%for (blog of Findblog) {%>
                            <option value="<%=blog._id%>">
                              <%=blog.Title%>
                            </option>
                            <%}%>
                        </select>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Answer</h5>
                        <!-- Quill Editor Full -->
                        <div class="quill-editor-full" required>
                          <p>Enter Your Answer</p>

                        </div>

                      </div>
                    </div>

                    <%}%>



                      <div class="row mb-3">

                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-primary" onclick="clickMe(this)">Submit</button>
                        </div>
                      </div>

                </div>
              </div>
            </div>
          </div>
          </div>
        </section>
      </main>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>


      <script>
        let div;
                 <% if (faqData) { %>
          div = document.createElement("div")
          div.innerHTML = `<%= faqData.answer %>`
          document.getElementById(`answer`).innerHTML = div.innerText
            <%}%>
      </script>




      <script>



          function clickMe(select) {

            let answer = document.querySelector(".ql-editor").innerHTML
            let question = document.getElementById("question").value
            let blog = document.getElementById("blogId").value



            $.ajax({
              type: 'post',
              url: `/addfrequentdata`,// nandlal
              data: { question, answer, faqData: `<%=faqData?._id.toString()%>`, blogId: blog },
              success: function (data) {
                console.log("hii")
                window.location.replace("/view_frequent");
              }

            })
          }
      </script>


      <%- include("../../partials/script.ejs") %>
</body>

</html>