<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>view-saloon</title>
    <%- include('../../partials/headlink.ejs') %>
  </head>

  <body>
    <%- include('../../partials/Header.ejs') %> 
    <%- include("../../partials/sidebar.ejs") %>

    <main id="main" class="main">
      <div class="pagetitle">
        <h1><%-user.type %></h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->
     <section class="section dashboard">
      <div class="row">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Service List</h5>
  
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Question</th>
                      <th scope="col">Answer</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% let i= 0 %>
                    <% for( singleData of data) { %>
                    <tr>
                      <th scope="row"><%= ++i %></th>
                      <td><%= singleData.question %></td>
                      <td id=<%= `answer-${i}` %>></td>
                      
                      <td>
                        <!-- <a href="/add_frequent?id=<%= singleData._id%>" class="btn btn-dark">Edit</a>
                        <a href="/delete_frequent?id=<%= singleData._id%>" class="btn btn-danger">Delete</a></td> -->
                        <a href="/add_frequent?id=<%= singleData._id%>" class="btn btn-info"><i
                          class="ri-edit-box-line" title="Edit"></i></a>
                      <a href="/delete_frequent?id=<%= singleData._id%>" class="btn btn-danger">
                        <i class="ri-delete-bin-5-line" title="delete"></i>
                      </a>
                    </tr>
                    <%}%>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
     
    </main>

    <%- include("../../partials/script.ejs") %>
    <script>
        let div;
        let i = 1;
            <%for (singleData of data) {%>
                div = document.createElement("div")
                div.innerHTML = `<%= singleData.answer %>`
                document.getElementById(`answer-${i}`).innerHTML = div.innerText
                i++
            <%}%>
    </script>
  </body>
</html>