<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>saloon-Registration</title>
    <%- include('../partials/headlink.ejs') %>
</head>

<body>

    <main>
        <div class="container">
            <%- include("../partials/alertMsg") %>
                <%- include("../partials/Header.ejs") %>
                    <%- include("../partials/sidebar.ejs") %>
                        <section
                            class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                            <div class="container">
                                <div class="row justify-content-end">
                                    <div
                                        class="col-lg-10 col-md-6 d-flex flex-column align-items-center justify-content-center">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <div class="pt-4 pb-2">
                                                    <div class="d-flex justify-content-center py-4">
                                                        <a href="index.html"
                                                            class="logo d-flex align-items-center w-auto">
                                                            <img src="assets/img/logo.png" alt="">
                                                            <span class="d-none d-lg-block">online saloon</span>
                                                        </a>
                                                    </div>
                                                    <h5 class="card-title text-center pb-0 fs-4">Create an Acccount For
                                                        your Buisness</h5>
                                                    <p class="text-center small">Enter your personal details to create
                                                        account</p>
                                                </div>
                                                <input type="text" id="myText" value="<%-user.type %>">
                                            </div>
                                        </div>
                                        <div class="credits">
                                            Designed by <a href="#">:</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
        </div>
    </main>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <%- include("../partials/script.ejs") %>
</body>

</html>