<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact-Us-Requist</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>

      <main id="main" class="main">
        <div class="pagetitle">
          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page name -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Filter</h5>

                    <!-- No Labels Form -->
                    <form class="needs-validation row g-3" action="/Contact-Us-Requist" novalidate>

                      <div class="col-md-3">
                        <label> Enter name</label> <br>
                        <input type="text" name="name" class="form-control" placeholder="Enter name"
                          value=<%=query.name%>>
                        <div class="invalid-feedback">Please Enter name.</div>

                      </div>
                      <div class="col-md-2">
                        <label>Enter Email</label> <br>

                        <input type="text" name="email" class="form-control" placeholder="Enter Email"
                          value="<%=query.email%>">
                        <div class="invalid-feedback">Please Enter Email.</div>
                      </div>
                      <div class="col-md-2">
                        <label>Enter phone</label> <br>
                        <input type="number" name="phone" class="form-control" placeholder="Enter phone"
                          value="<%=query.phone%>">
                        <div class="invalid-feedback">Please Enter phone.</div>
                      </div>
                      <div class="col-md-2">
                        <label>choose Status</label> <br>
                        <select id="inputState" name="status" class="form-select">
                          <option value="">Status</option>
                          <option value="0" <%=query.status=='0' ?'selected':''%>>
                            pending
                          </option>
                          <option value="1" <%=query.status=='1' ?'selected':''%>>
                            replyed
                          </option>
                          <option value="-1" <%=query.status=='-1' ?'selected':''%>>
                            rejected
                          </option>
                        </select>
                        <div class="invalid-feedback">Please Enter phone.</div>
                      </div>
                      <div class="col-md-3">
                        <div class="text-center">
                          <label></label> <br>

                          <button type="submit" class="btn btn-primary">Submit</button>
                          <a href="/Contact-Us-Requist"> <button type="button"
                              class="btn btn-secondary">Reset</button></a>
                        </div>
                      </div>
                    </form>
                    <!-- End No Labels Form -->

                  </div>
                </div>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Contact Us Requist List</h5>

                    <!-- Table with stripped rows -->
                    <table class="table datatable">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">name</th>
                          <th scope="col">email</th>
                          <th scope="col">services</th>
                          <th scope="col">phone</th>
                          <th scope="col">message</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% let i=0 %>
                          <% for( data of data) { %>
                            <tr>
                              <th scope="row">
                                <%= ++i %>
                              </th>
                              <td>
                                <%= data.name %>
                              </td>
                              <td>
                                <%= data.email %>
                              </td>
                              <td>
                                <%= data.services %>
                              </td>
                              <td>
                                <%= data.phone %>
                              </td>
                              <td>
                                <%= data.message %>
                              </td>
                              <td>
                                                              
                                <%if(query.status!='-1'){%>
                                  <a href="/Send-notification?id=<%= data._id%>" class="btn btn-info">
                                    <!-- <i class="ri-edit-box-line" title="Edit"></i> -->
                                    <i class="bi bi-reply-all-fill"></i>
                                  </a>
                                  <a href="/Reject-requist?id=<%= data._id%>" class="btn btn-danger">
                                    <i class="ri-delete-bin-5-line" title="delete"></i>
                                  </a>
                                  <%}%>
                              </td>
                            </tr>
                            <%}%>
                      </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>
              </div>
            </div>

          </div>
        </section>

      </main>

      <%- include("../../partials/script.ejs") %>
        <script src="/public/assets/js/form-validation.js"></script>

</body>

</html>