<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>package</title>

  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>
      <%- include("../../partials/alertMsg") %>
        <main id="main" class="main">
          <div class="pagetitle">
            <h1>
              <%-user?.type %>
            </h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <section class="section dashboard">
            <div class="row">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">

                      <h5 class="card-title">Add Service package </h5>
                      
                          <% if(data){ %>
                            <form class="needs-validation" action="/add-new-package?id=<%= data._id%>" method="post"
                              enctype="multipart/form-data" novalidate>
                              <% }else{ %>

                                <form class="needs-validation" action="/add-new-package" method="post"
                                  enctype="multipart/form-data" novalidate>
                                  <% } %>
                                    <div class="row g-3">
                                      <div class="col">
                                        <label for=""> package Name</label>
                                        <input required type="text" name="ServiceName" class="form-control"
                                          placeholder="Enter package Name" value="<%= data?.ServiceName %>">
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Enter package Name.</div>
                                      </div>
                                      <div class="col">
                                        <label for="">Time</label>
                                        <input required type="number" name="timePeriod_in_minits" class="form-control"
                                          placeholder="Enter Time " value="<%= data?.timePeriod_in_minits %>">
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Enter package Time.</div>
                                      </div>

                                    </div><br>



                                    <div class="row g-3">
                                      <div class="col">
                                        <label for="">Discription</label>
                                        <textarea class="form-control" name="description"
                                          placeholder="Enter Description" style="height: 100px" required
                                          minlength="5"><%= data?.description %></textarea>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Enter Discription.</div>
                                      </div>
                                      <div class="col">
                                        <label for="">package Images</label>
                                        <% if(data){ %>
                                          <input class="form-control" type="file" name="file" id="formFile">

                                          <% }else{ %>
                                            <input class="form-control" type="file" name="file" id="formFile" required>
                                            <% } %>
                                              <div class="valid-feedback">Looks good!</div>
                                              <div class="invalid-feedback">Please select Image.</div>
                                              <img src="/uploads/<%=data?.image[0] %>"
                                                style="max-width: 200px; max-height: 68px;" alt="img">
                                      </div>
                                    </div><br>

                                    <div class="row g-3">
                                      <div class="col">
                                        <label for="">Select Category</label>
                                        <select class="form-select" name="category" aria-label="multiple select example"
                                          required>
                                          <% Category.data.forEach(element=> {%>
                                            <option value="<%=element._id%>">
                                              <%=element.Name%>
                                            </option>
                                            <% });%>
                                        </select>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Select Category.</div>
                                      </div>
                                      <div class="col">
                                        <label for="">Select Saloon</label>
                                        <select class="form-select" name="saloonStore" id="saloonStore"
                                          aria-label="Default select example"
                                          onchange="FindService(this) ,FindSaloon(this)" required>
                                          <% salon.forEach(element=> {%>
                                            <option value="<%=element._id%>">
                                              <%=element.storeName%>
                                            </option>
                                            <% });%>
                                        </select>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Select Saloon.</div>
                                      </div>
                                    </div><br>
                                    <div class="row g-3">

                                      <div class="col">
                                        <label for="">Choose Gender </label>
                                        <div id="gendeAll">

                                        </div>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Select Gender.</div>
                                      </div>
                                      <div class="col">
                                        <label for=""> package Price</label>
                                        <input required type="number" name="ServicePrice" id="Amount"
                                          class="form-control" placeholder="Enter package Price"
                                          value="<%= data?.ServicePrice %>" readonly>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please Enter package Price.</div>
                                      </div>
                                    </div><br>

                                    <div class="row g-3">
                                      <div class="col">
                                        <div id="myselect" class="col-md-12">

                                        </div>
                                      </div>
                                      <div class="col">
                                        <label for="">package Final Price</label> <br>
                                        <input class="form-control" type="number" name="FinalPrice"
                                          value="<%= data?.FinalPrice %>" id="FinalPrice" required>
                                        <div class="valid-feedback">Looks good!</div>
                                        <div class="invalid-feedback">Please select Image.</div>
                                      </div>
                                    </div><br>


                                    <div class="row mb-3">
                                      <div class="col-sm-10">
                                        <button type="submit" id='mySubmit' class="btn btn-primary">Submit</button>
                                      </div>
                                    </div>
                                </form>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/public/assets/js/form-validation.js"></script>

        <script>

          $(document).ready(function () {
            const ee = document.getElementById("saloonStore")
            FindService(ee)
            FindSaloon(ee)
          });
          let arrr;
          <% if (data?.Services.length > 0) {%>
            // yaha ye -  eske pass me hona chhaiye just 
            arrr = <%- JSON.stringify(data.Services) %>
          <% } else {%>
            arrr =[]
              <% }%>
                function FindService(select) {

                  let num = Number(select.id)
                  let category = select.value
                  $.ajax({
                    type: 'get',
                    data: { "saloonId": category, },
                    url: '/Find-Service-for-Packages',// nandlal
                    success: function (data) {
                      if (data.length > 0) {
                        let abc = `<div id="subcategory-${num + 1}"><label for="inputAddress" class="form-label">choice Service</label>`
                        abc += `<select style="width:100%;"  multiple class="form-select" id="txtSelectedValues"  onchange="ServicePriceTotel(this)" name="Services" id="${num + 1}">`
                        abc += `<option value="" disabled>select Services</option>`
                        data.forEach((item) => {
                          if (arrr.includes(item._id.toString()) == true) {
                            abc += `<option value=${JSON.stringify({ id: item._id, amount: item.ServicePrice })} selected >${item.ServiceName}</option>`
                          } else {
                            abc += `<option value=${JSON.stringify({ id: item._id, amount: item.ServicePrice })}>${item.ServiceName}</option>`
                          }
                        })
                        abc += `</select> 
                  <div class="invalid-feedback">Please Select Sub Category.</div> </div>`
                        let num2 = num + 1
                        while (true) {
                          let cat = $(`#subcategory-${num2}`)
                          if (cat.html()) {
                            cat.remove();
                          } else {
                            break;
                          }
                          ++num2
                        }
                        $('#myselect').append(abc)
                      } else {
                        alert("data not found")
                        let num2 = num + 1
                        while (true) {
                          let cat = $(`#subcategory-${num2}`)
                          if (cat.html()) {
                            cat.remove();
                          } else {
                            break;
                          }
                          ++num2
                        }
                      }
                    }
                  })
                }

          // $("#txtSelectedValues").change(function () {
          //   // if ($("select option:selected").length > 3) {
          //   //   $(this).removeAttr("selected");
          //   //   alert('You can select upto 3 options only');
          //   // }
          // });





          function ServicePriceTotel(a) {
            let arr = []
            var selectedValues = $('#txtSelectedValues').val();
            // $("element[attribute-name=attribute-value]")
            selectedValues.forEach(element => {
              let data = JSON.parse(element)
              arr.push(Number(data.amount))
            });
            const sum = arr.reduce((acc, ele) => acc + ele, 0);
            $('#Amount').val(sum)
          }


        </script>
        <script>
          const amountInput = document.getElementById('Amount');
          const finalPriceInput = document.getElementById('FinalPrice');

          amountInput.addEventListener('input', () => {
            finalPriceInput.value = Math.min(amountInput.value, finalPriceInput.value);
          });
          finalPriceInput.addEventListener('input', () => {
            finalPriceInput.value = Math.min(amountInput.value, finalPriceInput.value);
          });




          function FindSaloon(a) {
            $.ajax({
              type: 'get',
              data: { id: a.value },
              url: '/find-Sallon',
              success: function (data) {
                const element = document.getElementById("Gender")

                if (data.type == "male") {
                  $('#Gender').remove()
                  let abc;
                  abc = ` <select class="form-select" name="type" id="Gender" aria-label="Default select example"
                                  required>
                                <option value="male">Male</option>
                          </select>`
                  $('#gendeAll').append(abc)
                } else if (data.type == "female") {
                  $('#Gender').remove()
                  let abc;
                  abc = `<select class="form-select" name="type" id="Gender" aria-label="Default select example"
                                  required>
                                 <option value="female">Female</option>
                          </select>`

                  $('#gendeAll').append(abc)
                } else {
                  $('#Gender').remove()
                  let abc;
                  abc = `<select class="form-select" name="type" id="Gender" aria-label="Default select example"
                                  required>
                                  <option value="">Select Type</option>
                                  <option value="male">Male</option>
                                  <option value="female">Female</option>
                                  <option value="unisex">Unisex</option>
                                </select>`
                  $('#gendeAll').append(abc)
                };
              }
            });
          };
        </script>

        <%- include("../../partials/script.ejs") %>
</body>


</html>