<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>editindex Package</title>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>
      <main id="main" class="main">
        <div class="pagetitle">
          <h1><%-user.type %></h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->
        <section class="section dashboard">
          <div class="row">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">

                    <h5 class="card-title">Package Edit</h5>
                    <form class="needs-validation row g-3" action="/Package-Edit?id=<%=data[0]._id%>" method="post"
                      novalidate>

                      <div class="col-md-6">
                        <label for="">Title Name</label>
                        <input type="text" name="PackageName" class="form-control"
                          placeholder="Enter Package Title Name" value="<%=data[0]?.PackageName %>" required>
                        <div class="invalid-feedback">Please Enter Title Name.</div>
                      </div>

                      <div class="col-md-6">
                        <label for="">Select Cotegory</label>
                        <select class="form-select" name="PackageCotegory" aria-label="Default select example"
                          required="">
                          <option value="">Select Type</option>
                          <% for(Categor of Category){%>
                            <option value="<%= Categor?._id%>"
                              <%=Categor?._id?.toString()===data[0]?.PackageCotegory?.toString() ? "selected" : "" %>
                              >
                              <%= Categor?.Name%>
                            </option>
                            <%}%>
                        </select>
                      </div>

                      <div class="col-md-6">
                        <label for="">Select Gender</label>
                        <select class="form-select" name="gender" id="gender" aria-label="Default select example"
                          onchange="FindService(this)" required="">
                          <option value="">Select Type</option>
                          <option value="male" <%=data[0]?.gender==="male" ? "selected" :"" %>>male</option>
                          <option value="female" <%=data[0]?.gender=='female' ? "selected" :"" %> >female
                          </option>
                        </select>
                      </div>
                      <% let arrr=[]%>
                        <% for (const item of data[0].Services) {%>
                          <% arrr.push(item.toString())%>
                            <%}%>
                              <%console.log("arrr",arrr)%>
                                <div class="col-md-6">
                                  <label for="">Select service</label>
                                  <select class="form-select" name="gender" id="gender" multiple
                                    aria-label="Default select example" required="">
                                    <option value="">Select Type</option>
                                    <% for (const service of FindService) {%>
                                      <option value="<%=service._id%>" <%=arrr.includes(service._id.toString())==true
                                        ? "selected" :"" %>>
                                        <%=service.ServiceName%>
                                      </option>
                                      <%}%>
                                  </select>
                                </div>

                                <div class="col-md-6">
                                  <label for="">Amount</label>
                                  <input type="number" name="Amount" id="Amount" value="<%=data[0]?.Amount%>"
                                    class="form-control" placeholder="Enter Amount" min="0" required readonly>
                                  <div class="invalid-feedback">Please Enter Amount.</div>
                                </div>

                                <div class="col-md-6">
                                  <label for="">final Price</label>
                                  <input type="number" name="finalPrice" id='FinalPrice'
                                    value="<%=data[0]?.finalPrice %>" class="form-control"
                                    placeholder="Enter final Price less than or equal to amount" min="0" required>
                                  <div class="invalid-feedback">Please Enter final Price.</div>
                                </div>

                                <div class="text-center">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>

                    </form><!-- End No Labels Form -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include("../../partials/script.ejs") %>
        <script type="text/javascript">

          function FindService(select) {
            console.log("select", select)
            let num = Number(select.id)
            let category = select.value
            $.ajax({
              type: 'get',
              data: { "type": category, },
              url: '/Find-Service-for-Packages?saloonId=<%=query.saloonId%>',// nandlal
              success: function (data) {
                if (data.length > 0) {
                  let abc = `<div id="subcategory-${num + 1}"><label for="inputAddress" class="form-label">Sub Category</label>`
                  abc += `<select style="width:100%;"  multiple class="form-select" id="txtSelectedValues"  onchange="ServicePriceTotel(this)" name="Services" id="${num + 1}">`
                  abc += `<option value="" disabled>select Sub Category</option>`
                  data.forEach((item) => {
                    abc += `<option value=${JSON.stringify({ id: item._id, amount: item.ServicePrice })}>${item.ServiceName}</option>`
                  })
                  abc += `</select> 
                            <div class="invalid-feedback">Please Select Sub Category.</div> </div>`
                  let num2 = num + 1
                  while (true) {
                    let cat = $(`#subcategory-${num2}`)
                    if (cat.html()) {
                      cat.remove();
                    } else {
                      break;
                    }
                    ++num2
                  }
                  $('#myselect').append(abc)
                } else {
                  alert("data not found")
                }
              }
            })
          }

          function ServicePriceTotel(a) {
            let arr = []
            var selectedValues = $('#txtSelectedValues').val();
            // $("element[attribute-name=attribute-value]")
            selectedValues.forEach(element => {
              let data = JSON.parse(element)
              arr.push(Number(data.amount))
            });
            const sum = arr.reduce((acc, ele) => acc + ele, 0);
            $('#Amount').val(sum)
          }

        </script>
        <!-- sahil script for amount and final price -->
        <script>
          // const amountInput = document.getElementById('Amount');
          // const finalPriceInput = document.getElementById('FinalPrice');
          // amountInput.addEventListener('input', () => {
          //   // Update the final price input value to match the amount input value
          //   finalPriceInput.value = Math.min(amountInput.value, finalPriceInput.value);
          // });
          // finalPriceInput.addEventListener('input', () => {
          //   // Ensure the final price input value is not higher than the amount input value
          //   finalPriceInput.value = Math.min(amountInput.value, finalPriceInput.value);
          // });
        </script>
</body>

</html>