<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set-point-to-rupee</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <%- include('../../partials/headlink.ejs') %>
</head>

<body>
  <%- include('../../partials/Header.ejs') %>
    <%- include("../../partials/sidebar.ejs") %>
      <%- include("../../partials/alertMsg") %>
        <main id="main" class="main">
          <div class="pagetitle">
            <h1>
              <%-user.type %>
            </h1>
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->

          <section class="section dashboard">
            <div class="row">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <% if(typeof data !=="undefined" && data){%>
                        <h5 class="card-title">Edit Vacancy</h5>
                        <form action="Set-Point-To-Rupee?id=<%=data._id%>" id="form1" method="post">
                          <%}else{%>
                            <h5 class="card-title">Add Vacancy</h5>
                            <form action="Set-Point-To-Rupee" id="form" method="post">
                              <%}%>
                                <div class="row g-3">
                                  <div class="col-md-5">
                                    <label for="">Enter rupee</label>
                                    <input required type="number" name="rupee" id="title"
                                      value="<%= data?.rupee?data.rupee:'' %>" class="form-control"
                                      placeholder="Enter rupee ">
                                  </div>

                                  
                                  <div class="col-md-5">
                                    <label for="">Number Of point </label>
                                    <input required type="number" name="point" id="writename"
                                      value="<%= data?.point?data.point:''%>" class="form-control"
                                      placeholder="Enter point Of condidete">
                                  </div>
                                </div><br>

                                <div class="row mb-3">
                                  <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Update</button>
                                  </div>
                                </div>
                            </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
        <%- include("../../partials/script.ejs") %>
</body>

</html>